body { background: #d39900; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-payment-0 { color: #7f51f7; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #c8342a; font-size: 19px; margin-bottom: 5px; }
.block-uploader-2 { color: #42f868; font-size: 21px; margin-bottom: 5px; }
.block-config-3 { color: #1d8b06; font-size: 17px; margin-bottom: 5px; }
.block-payment-4 { color: #307683; font-size: 14px; margin-bottom: 5px; }